/* h2 {
  color: black;
  justify-items: center;
}

img {
  color: green;
  justify-items: center;
}

ul {
  color: yellow;
  justify-items: baseline;
}

link {
  background: pink;
  justify-items: stretch;
}

.birds {
  background: purple;
  justify-items: right;
}

a {
  background: black;
  justify-items: center;
} */
